<h1>Editing medical_history</h1>

<%= render 'form' %>

<%= link_to 'Show', @medical_history %> |
<%= link_to 'List of Medical All Records', medical_histories_path %> | 

<%= link_to 'Back', patient_path(@medical_history.patient_id) %>

